@import url('https://fonts.googleapis.com/css?family=Mulish:700,800,900');

body{
    font-family: 'Mulish', sans-serif;
    /* margin: 0 auto; */
    /* width: 88%; */
}

/* NAVBAR */
.header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    height: 85px;
    font-weight: 700;
}
.header li{
    list-style: none;
}
.header-logo {
    float: left;
} 
.list-left li {
    float: left;
    padding: 20px 35px 20px 0px;
}
.list-right {
    margin-right: 6%;
}
.header-left {
    margin-left: 6%;
}
.list-right li {
    float: right;
    padding: 20px 10px;
}
.header img{
    position: relative;
    width: 80%;
    top: -15px;
}
.header a{
    text-decoration: none;
    color: #6D7D8B;
    font-size: 15px;
}


/* LOGIN */
.main{
    padding: 110px 6%;
    color: #6D7D8B;
}
.img-login{
    position: absolute;
    width: 52%;
    left: 9.5%;
    top: 30%;
}
.login{
    position: relative;
    background-color: #EBF0FA;
    padding: 5% 5% 8% 5%;
    text-align: center;
    color: #6D7D8B;
    border-radius: 12px;
    float: right;
    margin-top: 20px;
    right: -5%;
}
.box-login{
    text-align: left;
    margin-top: 20px;
}
.login-part small{
    text-align: left;
}
.login-title{
    color: #FC5043;
    margin-bottom: 40px;
}
.login-part .login-btn{
    background-color: #FC5043;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}
.login-part .signup-btn, .acc-btn:hover{
    background-color: #fff;
    color: #FC5043;
    border: #FC5043 2px solid;
    /* margin-bottom: 70px; */
    font-size: 14px;
    font-weight: 800;
    height: 40px;
}
.login-part input{
    border: #BBC8D4 2px solid;
    height: 52px;
    border-radius: 4px;
    font-size: 14px;
}
::placeholder {
    font-size: 14px;
}
.login-part p{
    font-size: 13px;
    color: black;
    margin: 25px 0px 0px 0px;
}

/* USER PROFILE - MY ACCOUNT */
.profile{
    float: left;
    color: #6D7D8B;
    border: 1px solid #FC5043;
    border-radius: 8px;
    margin-top: 2.5%;
    padding: 1%;
    margin-bottom: 10%;
}
.profile-photo img{
    position: relative;
    float: left;
    width: 22%;
    clip-path: circle();
}
.profile-name{
    margin: 20px 0px;
    font-size: 16px;
}
.profil-saya{
    font-size: 28px;
}
.user-name{
    font-size: 18px;
    padding-top:4%;
}
.profile-title{
    font-size: 14px;
    padding: 5% 5% 3% 5%;
}
.profile-title .active{
    color: #FC5043;
    font-weight: 800;
}
.profile-title p{
    margin-bottom: 7%;
    border-bottom: 2px solid #EBF0FA;
}
.profile-title a{
    text-decoration: none;
    color: #6D7D8B;
}
.profile-title .title:hover{
    color: #3A353F;
}

.my-account{
    position: relative;
    padding: 60px 65px;
    text-align: center;
    background-color: #EBF0FA;
    color: #6D7D8B;
    float: right;
    margin: 2.5% 0% 10% 0%;
    /* right: -5%; */
}
.box-account{
    text-align: left;
    /* margin: 5% 0%; */
}
.acc-btn{
    background-color: #FC5043;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}
.account-part input{
    border: #BBC8D4 2px solid;
    height: 48px;
    border-radius: 4px;
    margin-bottom: 5%;
    font-size: 14px;
    color: #6D7D8B;
}
.account-part textarea{
    border: #BBC8D4 2px solid;
    border-radius: 4px;
    margin-bottom: 5%;
    font-size: 14px;
    color: #6D7D8B;
}

/* USER PROFILE - MY ORDER */
.order{
    float: right;
    margin: 2.5% 0% 0% 0%;
    padding-left: 4%;
}
.order table{
    width: 105%;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #C4C4C4;
    margin: 3% 0% 10% 0%;
}
.order th{
    color: #595668;
    height: 50px;
}
.order tr{
    height: 35px;
}
.order .detail-btn{
    text-decoration: none;
    border: 2px solid #FC5043;
    padding: 1% 3.5%;
    border-radius: 15%;
    color: #FC5043;
}
.order h4{
    font-size: 20px;
    color: black;
}
.order .detail-btn:hover{
    padding: 1% 3.5%;
    border-radius: 15%;
    color: white;   
    background-color: #FC5043;
}

/* DETAIL PRODUCT */
.detail-product{
    position: absolute;
    border: #94A3B1 2px solid;
    border-radius: 20px;
    margin: 110px 0px;
    /* padding-left: 10%; */
}
.foto-product{
    float: left;
    margin: 5% 0% 5% 1%;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.desc-product{
    float: right;
    margin: 6% 0%;
    padding: 0% 5%;
}
.desc-product a{
    text-decoration: none;
    color: #94A3B1;
}
.desc-product h4{
    font-size: 17px;
    margin: -1.5% 0% 6% 0%;
    font-weight: 800;
}
.desc-product h2{
    font-weight: 800;
    color: #595668;
}
.desc-product a:hover{
    color: #595668;
}
.desc-product h5{
    font-size: 16px;
    margin-bottom: 12%;
    color: #FC5043;
}
.desc-product p{
    font-size: 14px;
    color: #6D7D8B;
}
.desc-product button{
    width: 100%;
    background-color: #FC5043;
    height: 35px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    margin-top: 8%;
}
.desc-product button:hover{
    background-color: white;
    color: #FC5043;
    border: #FC5043 2px solid;
    font-weight: 800;
}
button:focus{
    outline: none;
}

/* DETAIL ORDER */
.detail-order{
    position: absolute;
    border: #94A3B1 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 2% 6%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2%;
}
.detail-order-title{
    text-align: center;
    color: #3A353F;
    font-weight: 800;
}
.detail-order h5{
    font-size: 20px;
    color: #595668;
    font-weight: 800;
}
.detail-order p{
    font-size: 14px;
    color: #6D7D8B;
}
.order-content{
    margin-top: 5%;
    padding-top: 1%;
}
.detail-order button{
    width: 100%;
    background-color: #FC5043;
    height: 38px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    margin: 8% 0%;
}
.detail-order button:hover{
    background-color: #fff;
    color: #FC5043;
    border: #FC5043 2px solid;
    /* margin-bottom: 70px; */
    font-size: 16px;
    font-weight: 800;
    height: 38px;
}

